<div class="box aside has-margin-top-10 has-margin-left-10">
	<figure class="image is-2by1 mb-figure">
		<img src="https://via.placeholder.com/200x100?text=Mi%20Banco">
	</figure>
	<h2 class="has-text-weight-bold is-size-5">TUS PRODUCTOS</h2>
	<hr />
	<h2 class="is-size-6 is-uppercase has-text-centered">
		Tu Organizador
		<br>
		<span class="is-size-7">¡Nuevo!</span>
	</h2>
	<hr />
	<h2 class="is-size-6 is-uppercase has-text-centered">Pagos</h2>
	<hr />
	<h2 class="is-size-6 is-uppercase has-text-centered">Tranferencias</h2>
	<hr />
	<h2 class="is-size-6 is-uppercase has-text-centered">Certificados</h2>
	<hr />
	<h2 class="is-size-6 is-uppercase has-text-centered">Seguridad</h2>
</div>