<header class="has-margin-bottom-30">
	<nav class="navbar align-items-center" role="navigation" aria-label="main navigation">
		<div class="navbar-start">
			<h2 class="is-size-4 has-text-weight-bold">Buenos días, Juan Carlos</h2>
		</div>

		<div class="navbar-end">
			<a class="navbar-item">
				Perfil <i class="far fa-user-circle fa-2x has-margin-left-15"></i>
			</a>
			<a class="navbar-item">
				Alertas <i class="fas fa-bell fa-2x has-margin-left-15"></i>
			</a>
			<a class="navbar-item">
				Salida segura <i class="fas fa-sign-out-alt fa-2x has-margin-left-15"></i>
			</a>
		</div>
	</nav>
</header>