<section>
	<div class="columns">
		<div class="column">
			Mostrar otros productos
			<label class="switch">
				<input type="checkbox" />
				<span class="slider round"></span>
			</label>
		</div>
	</div>
	<div class="columns">
		<div class="column">
			<div class="box has-padding-top-20 has-padding-bottom-30">
				<div class="columns">
					<div class="column d-flex align-items-center">
						<span class="is-size-5 has-text-weight-bold">¿Cómo se ven sus finanzas?</span>
					</div>
					<div class="column d-flex justify-flex-end">
						<div class="columns is-multiline is-mobile">
							<div class="column d-flex justify-flex-end align-items-center">
								<i class="fas fa-chevron-left"></i>
							</div>
							<div class="column is-one-third">
								<span class="is-size-7">En productos de ahorro tienes:</span>
							</div>
							<div class="column is-one-third d-flex align-items-center">
								<span class="is-size-5 has-text-weight-bold">$2.351.000,00</span>
							</div>
							<div class="column d-flex justify-flex-start align-items-center"><i class="fas fa-chevron-right"></i></div>
							<!-- <div class="column is-full has-text-centered" style="padding-top: 0px;">...</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
